@import '../../variables.scss';

.login-form {
  background-color: $main-background-color-transparent;
  border: 2px solid $main-accent-color;
  color: $main-text-color;
  font-family: $small-text-font;
  height: 40%;
  margin: {
    left: auto;
    right: auto;
    top: 15%;
  }
  text-align: center;
  width: 35%;
}

h3 {
  font: {
    family: $large-text-font;
    size: 2rem;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: {
    left: auto;
    right: auto;
  }
  text-align: left;
  width: 50%;
}

input {
  margin-bottom: 20px;
}
