@import '../../variables.scss';

.login-form {
  background-color: $main-background-color-transparent;
  border: 2px solid $main-accent-color;
  color: $main-text-color;
  font-family: $small-text-font;
  height: 45%;
  margin: {
    left: auto;
    right: auto;
    top: 15%;
  }
  text-align: center;
  width: 35%;
}

h3 {
  font: {
    family: $large-text-font;
    size: 2rem;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: {
    left: auto;
    right: auto;
  }
  text-align: left;
  width: 50%;
}

input {
  height: 30px;
  margin-bottom: 20px;
}

label {
  font-size: 0.8rem;
}

.sign-in {
  background-color: $main-accent-color;
  color: inherit;
  font: {
    size: 1rem;
    weight: bold;
  }
  height: 30px;
  margin: {
    bottom: 10px;
    left: auto;
    right: auto;
  }
  outline: none;
  width: 50%;
  &:active {
    background-color: black;
  }
}

#back-home {
  color: $main-text-color;
  font-size: 0.8rem;
  margin: {
    left: auto;
    right: auto;
  }
}
