@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700|Rajdhani:400,700&display=swap');

$main-accent-color: #933838;
$main-background-color: #373737;
$main-background-color-transparent: rgba(22, 22, 22, 0.8);
$main-text-color: #FFFFFF;
$small-text-font: 'Gothic A1', sans-serif;'
$large-text-font: 'Rajdhani', sans-serif;
